@charset "UTF-8";
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

全ページ共通

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-family: "Yu Gothic UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: #444444;
  letter-spacing: 0px;
  line-height: 1.8;
  background-color: #f5f5f5;
  overflow-x: clip;
}
@media screen and (max-width: 520px) {
  body {
    font-size: 1.4rem;
  }
}

*:hover,
*::before,
*::after {
  transition: 0.2s;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

文字

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
p {
  margin: 20px 0;
  letter-spacing: 1px;
  text-align: justify;
}

a {
  color: inherit;
}

/*－－－－－－－－－－ リンクホバー時の設定 －－－－－－－－－－*/
a:not([class]) {
  position: relative;
}
a:not([class])::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-image: repeating-linear-gradient(-45deg, #8B0000, #8B0000 7px, transparent 0, transparent 14px);
  opacity: 0;
}
@media (hover: hover) {
  a:not([class]):hover::after {
    opacity: 1;
  }
}

/* ホバー装飾の無効化 */
a:is(.globalnav *, .snslist *)::after,
.btn::after,
.pageup::after {
  display: none;
}

/*fuwaimgでの無効化 */
/*－－－－－－－－－－ 見出し －－－－－－－－－－*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 4px;
  line-height: 1.2;
  text-transform: uppercase;
  overflow-wrap: break-word;
}
h1 .ja,
h2 .ja,
h3 .ja,
h4 .ja,
h5 .ja {
  font-size: 0.6em;
}

/*－－－－－－－－－－ 大見出し －－－－－－－－－－*/
.headingL {
  font-size: clamp(4rem, 3.6rem + 2vw, 6rem);
  margin: clamp(3rem, 2.8rem + 1vw, 4rem) 0;
  position: relative;
  z-index: 1;
}
.headingL::before {
  content: "";
  position: absolute;
  top: -1.5em;
  left: -1.5em;
  width: 3em;
  height: 3em;
  background-image: repeating-linear-gradient(-45deg, #8B0000, #8B0000 7px, transparent 0, transparent 14px);
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  z-index: -1;
}

/*－－－－－－－－－－ 中見出し －－－－－－－－－－*/
.headingM {
  font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
  margin: clamp(3rem, 2.6rem + 2vw, 5rem) 0;
  color: #8B0000;
  -webkit-text-decoration: underline double #8B0000;
          text-decoration: underline double #8B0000;
  text-underline-offset: 8px;
  text-decoration-thickness: 0.2em;
}

/*－－－－－－－－－－ 小見出し －－－－－－－－－－*/
.headingS {
  position: relative;
  font-size: clamp(2.4rem, 2.08rem + 1.6vw, 4rem);
  margin: 20px 0;
  color: #8B0000;
  padding-left: 20px;
}
.headingS::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 10px;
  height: 0.8em;
  margin-top: 0.2em;
  background-color: #8B0000;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

/*－－－－－－－－－－ 最小見出し －－－－－－－－－－*/
.headingSS {
  font-size: clamp(1.8rem, 1.76rem + 0.2vw, 2rem);
  margin: 20px 0;
}

/*－－－－－－－－－－ 文字装飾 －－－－－－－－－－*/
.right {
  text-align: right;
}

.center {
  text-align: center;
}

.marker {
  background: linear-gradient(transparent 60%, #8B0000 60%);
}

.label {
  display: block;
  margin: 20px 0;
  padding: 2px 10px;
  background-color: #8B0000;
  color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

アイコン等

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.la,
.las {
  font-size: 1.2em;
  color: #8B0000;
  position: relative;
  top: 2px;
}

/* 矢印 */
.arrow {
  width: 20px;
  height: 20px;
  border: 4px solid #8B0000;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

入力フォーム、ボタン

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/* 入力フォーム */
input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 20px 8px 20px;
  border: 1px solid #8B0000;
  margin: 10px 0;
}

/* ボタン */
.btn {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #8B0000;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 3px 20px;
  border: 2px solid #8B0000;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.btn:hover {
  cursor: pointer;
  background-color: #444444;
  color: #ffffff;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

リスト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.list,
.list-number {
  margin: 20px 0;
}

.list li {
  position: relative;
  margin-left: 16px;
}
.list li::before {
  position: absolute;
  top: calc(50% - 4px);
  left: -16px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #8B0000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*－－－－－－－－－－ 数字付きリスト －－－－－－－－－－*/
.list-number {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.list-number li {
  text-indent: -3.4rem;
  padding-left: 3.6rem;
}
.list-number li > :not(:first-child) {
  text-indent: 0;
}

/*－－－－－－－－－－ 表リスト －－－－－－－－－－*/
.gridlist {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 0px;
}
.gridlist .gridlist__label,
.gridlist .gridlist__text {
  padding: 6px 20px 4px;
}
.gridlist .gridlist__label {
  display: flex;
  align-items: center;
  background-color: #8B0000;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.gridlist .gridlist__text {
  background-color: #f5f5f5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* スマホ */
@media screen and (max-width: 520px) {
  .gridlist {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .gridlist .gridlist__label,
  .gridlist .gridlist__text {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .gridlist .gridlist__label {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .gridlist .gridlist__text {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

枠組み

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.box {
  padding: 30px;
  margin: 10px;
  background-color: #f5f5f5;
  outline: 8px solid #f5f5f5;
  border: 1px solid #8B0000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.box > :first-child {
  margin-top: 0;
}
.box > :last-child {
  margin-bottom: 0;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

SNSアイコンリスト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.snslist .snslist__item a {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #8B0000;
  border-radius: 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}
.snslist .snslist__item a:hover {
  color: #fff;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.snslist .snslist__item.twitter:hover a {
  background-color: #1DA1F2;
}
.snslist .snslist__item.instagram:hover a {
  background-color: #CF2E92;
}
.snslist .snslist__item.facebook:hover a {
  background-color: #4267b2;
}
.snslist .snslist__item.youtube:hover a {
  background-color: #DA1725;
}
.snslist .snslist__item .lab {
  margin: 6px 1px 3px 3px;
  font-size: 2rem;
}
@media screen and (max-width: 520px) {
  .snslist {
    justify-content: center;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

レイアウト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ 横並び －－－－－－－－－－*/
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* 表示サイズを変えたい場合は200pxの部分を変更 */
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/*－－－－－－－－－－ 2カラム表示 －－－－－－－－－－*/
.--2column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 60px;
}

/* タブレット、スマホでは１カラム */
@media screen and (max-width: 768px) {
  .--2column {
    grid-template-columns: 1fr;
  }
}
/*－－－－－－－－－－ 左右反対 －－－－－－－－－－*/
.reverse {
  flex-direction: row-reverse;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

全体のレイアウト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ ヘッダー －－－－－－－－－－*/
/*－－－－－－－－－－ コンテンツ全体の横幅、余白 －－－－－－－－－－*/
.mainwrapper {
  padding: 10px;
}
.mainwrapper > :first-child {
  margin-top: 0;
}

/* PC */
@media screen and (min-width: 1025px), print {
  .mainwrapper {
    max-width: 1160px;
    margin: 0 auto;
    padding: 100px 20px;
  }
}
/*－－－－－－－－－－ セクション －－－－－－－－－－*/
section {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
section > :first-child:not(.novelpage__title) {
  margin-top: 0;
}
section > :last-child {
  margin-bottom: 0;
}
section section {
  padding: 40px 0;
  margin: 0;
}
section section:first-of-type {
  padding-top: 0;
}
section section:last-of-type {
  padding-bottom: 0;
}

/* PC */
@media screen and (min-width: 1025px), print {
  section {
    padding: 60px;
    margin-bottom: 80px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
  }
}
.circle {
  position: relative;
}

/* スマホ */
@media screen and (max-width: 520px) {
  .circle::before {
    top: -8vw;
    left: -7vw;
    width: 15vw;
    height: 15vw;
  }
  .circle::after {
    bottom: -16vw;
    right: -10vw;
    width: 20vw;
    height: 20vw;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メニューボタン

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.hamburger {
  position: fixed;
  top: 2vw;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #8B0000;
  border: none;
  cursor: pointer;
  z-index: 999;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
.hamburger .hamburger__line {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
}
.hamburger .hamburger__line::before, .hamburger .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
}
.hamburger .hamburger__line::before {
  top: -8px;
}
.hamburger .hamburger__line::after {
  bottom: -8px;
}

/*閉じる*/
.hamburger._active .hamburger__line {
  background: transparent;
}
.hamburger._active .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger._active .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* PCで非表示 */
@media screen and (min-width: 1025px), print {
  .hamburger {
    display: none;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メニュー

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.globalnav {
  position: sticky;
  top: 0;
  z-index: 998;
  left: 0;
  background-color: #8B0000;
}

.globalnav__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
}
.globalnav__main .globalnav__item {
  position: relative;
}
.globalnav__main .globalnav__item:hover {
  background-color: #444444;
}
.globalnav__main .globalnav__item:hover a {
  color: #ffffff;
}
.globalnav__main .globalnav__item a {
  display: block;
  color: #fff;
  font-family: "Hiragino Kaku Gothic Pro", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  overflow-wrap: break-word;
  background: none;
  padding: 20px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}
.globalnav__main .globalnav__item._has-child:hover .globalnav__child {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.2s;
  -o-transition: 0.4s;
}
.globalnav__main .globalnav__child {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f5f5f5;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}
.globalnav__main .globalnav__child li:hover {
  background-color: #444444;
}

/*  タブレット、スマホでの表示 */
@media screen and (max-width: 1180px) {
  .globalnav {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.2s;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  .globalnav._active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.2s;
    -o-transition: 0.4s;
  }
  .globalnav__main {
    display: block;
    background: none;
    width: 100%;
    padding: 20px;
  }
  .globalnav__main .globalnav__item:not(:last-child) > a {
    border: none;
  }
  .globalnav__main .globalnav__item a {
    padding: 10px;
    color: #ffffff;
  }
  .globalnav__main .globalnav__child {
    top: 100%;
    bottom: auto;
    left: auto;
    right: 0%;
    max-width: calc(100vw - 40px);
    z-index: 1;
    visibility: visible;
    /*JSで制御するため一旦表示*/
    opacity: 1;
    /*JSで制御するため一旦表示*/
    display: none;
    /*JSのtoggleで表示させるため非表示に*/
  }
  .globalnav__main .globalnav__child.active {
    display: block;
  }
}
/* タブレット,スマホでメニューを開いた時に黒くする */
@media screen and (max-width: 1180px) {
  .mainwrapper::after {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100vw;
    height: 100dvh;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .mainwrapper._darker::after {
    visibility: visible;
    opacity: 0.6;
    z-index: 99;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

サブメニュー

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.submenu {
  margin-bottom: 40px;
  container-type: inline-size;
}

.submenu__main {
  -moz-column-count: 2;
       column-count: 2;
}

/* 親メニューのスタイル */
.submenu__item {
  position: relative;
  padding: 10px;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
.submenu__item a {
  display: inline-block;
  text-decoration: none;
  word-break: break-word;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}
.submenu__item > a {
  padding: 10px 20px;
  background-color: #8B0000;
  color: #ffffff;
  width: 100%;
}

/* 子、孫メニューのスタイル */
.submenu__child > li {
  position: relative;
  padding-left: 1.8em;
}
.submenu__child > li::before {
  position: absolute;
  top: 1.4em;
  left: 0;
  content: "";
  display: block;
  height: 4px;
  width: 3%;
  background: #8B0000;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.submenu__child a {
  margin: 10px 0;
}

.submenu__grandchild li {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}
.submenu__grandchild li::before {
  content: "";
  display: block;
  height: 10px;
  background-color: transparent;
  background-image: radial-gradient(#8B0000 20%, transparent 22%);
  background-size: 10px 10px;
  background-position: 0 0;
}

@container (max-width:600px) {
  .submenu__main {
    -moz-column-count: 1;
         column-count: 1;
    gap: 0;
  }
}
/* リンク無効aタグのホバー時のスタイルを削除 */
.submenu__main > ._has-child > a:hover {
  background: #444444;
  cursor: auto;
}
.submenu__main > ._has-child > a:hover::after {
  display: none;
}

.submenu__child > ._has-child > a:hover {
  background: none;
  cursor: auto;
}
.submenu__child > ._has-child > a:hover::after {
  display: none;
}

/* スマホ */
@media screen and (max-width: 520px) {
  /* クリックで表示 */
  .submenu__item._has-child .submenu__child,
  .submenu__item._has-child .submenu__child li._has-child .submenu__grandchild {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
  }
  .submenu__item._has-child .submenu__child.active,
  .submenu__item._has-child .submenu__child li._has-child .submenu__grandchild.active {
    height: auto;
    overflow: auto;
    opacity: 1;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

ページUP

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.pageup {
  position: fixed;
  right: 2vw;
  bottom: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #8B0000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}
.pageup .arrow {
  border-color: #fff;
  margin-top: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.pageup._active {
  opacity: 1;
  visibility: visible;
}

@media (hover: hover) {
  .pageup:hover {
    background-color: #444444;
  }
}
/* スマホ */
@media screen and (max-width: 520px) {
  .pageup {
    width: 50px;
    height: 50px;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

フッター

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
footer {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  background-color: #8B0000;
  padding: 30px;
}