@charset "UTF-8";
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

全ページ共通

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
:root {
  --primary-color: #8B0000;
  --text-color: #444444;
  --bg-color: #e8e8e8;
  --white: #ffffff;
  --light-bg: #f5f5f5;
  --spacing-unit: 20px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-family: "Yu Gothic UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: 0;
  line-height: 1.8;
  background-color: var(--bg-color);
  overflow-x: clip;
}
@media screen and (max-width: 520px) {
  body {
    font-size: 1.4rem;
  }
}

*:hover,
*::before,
*::after {
  transition: 0.2s;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

文字

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
p {
  margin: var(--spacing-unit) 0;
  letter-spacing: 1px;
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 0.2em;
}

/*－－－－－－－－－－ リンクホバー時の設定 －－－－－－－－－－*/
a:not([class]), a.grid {
  position: relative;
}
a:not([class])::after, a.grid::after {
  position: absolute;
  bottom: -6px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-image: repeating-linear-gradient(-45deg, var(--primary-color), var(--primary-color) 7px, transparent 0, transparent 14px);
  opacity: 0;
}
@media (hover: hover) {
  a:not([class]):hover::after, a.grid:hover::after {
    opacity: 1;
  }
}

/* 共通のホバーエフェクト */
.hover-bg:hover {
  background-color: var(--light-bg);
  padding-left: 1rem;
  border-radius: 8px;
}


/* ホバー装飾の無効化 */
a:is(.globalnav *,)::after,
.btn::after,
.pageup::after {
  display: none;
}

/*fuwaimgでの無効化 */
/*－－－－－－－－－－ 見出し －－－－－－－－－－*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 4px;
  line-height: 1.2;
  text-transform: uppercase;
  overflow-wrap: break-word;
}
h1 .ja,
h2 .ja,
h3 .ja,
h4 .ja,
h5 .ja {
  font-size: 0.6em;
}

/*－－－－－－－－－－ 中見出し －－－－－－－－－－*/
.heading-m {
  font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
  margin-bottom: clamp(3rem, 2.6rem + 2vw, 5rem);
  color: var(--primary-color);
  -webkit-text-decoration: underline var(--primary-color);
          text-decoration: underline var(--primary-color);
  text-underline-offset: 8px;
  text-decoration-thickness: 0.2em;
}

/*－－－－－－－－－－ 小見出し －－－－－－－－－－*/
.heading-s {
  position: relative;
  font-size: clamp(1.8rem, 1.6rem + 1.2vw, 3rem);
  margin: var(--spacing-unit) 0;
  color: var(--primary-color);
}


/*－－－－－－－－－－ 文字装飾 －－－－－－－－－－*/
.marker {
  background: linear-gradient(transparent 60%, var(--primary-color) 60%);
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

リスト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.list,
.list-number {
  margin: 20px 0;
}

.list li {
  position: relative;
  margin-left: 16px;
}
.list li::before {
  position: absolute;
  top: calc(50% - 4px);
  left: -16px;
  content: "・";
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

/*－－－－－－－－－－ 数字付きリスト －－－－－－－－－－*/
.list-number {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.list-number li {
  text-indent: -3.4rem;
  padding-left: 3.6rem;
}
.list-number li > :not(:first-child) {
  text-indent: 0;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

レイアウト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ 横並び －－－－－－－－－－*/
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit);
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* 表示サイズを変えたい場合は200pxの部分を変更 */
  gap: var(--spacing-unit);
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

全体のレイアウト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/

.profile__name {
  font-size: clamp(2.4rem, 2.08rem + 1.6vw, 4rem);
  margin: 20px 0;
  color: var(--primary-color);
  text-transform: none;
}

/*－－－－－－－－－－ ヘッダー －－－－－－－－－－*/
/*－－－－－－－－－－ コンテンツ全体の横幅、余白 －－－－－－－－－－*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-unit);
}

/*－－－－－－－－－－ セクション －－－－－－－－－－*/
section {
  padding: 20px;
  background-color: var(--white);
  margin-bottom: 40px;
  border-radius: 20px;
}
section > :last-child {
  margin-bottom: 0;
}
section section {
  padding: 40px 0;
  margin: 0;
}
section section:first-of-type {
  padding-top: 0;
}
section section:last-of-type {
  padding-bottom: 0;
}

/* PC */
@media screen and (min-width: 1025px), print {
  section {
    padding: 60px;
    margin-top: 30px;
    border-radius: 60px;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メニューボタン

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.hamburger {
  position: fixed;
  top: 2vw;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  z-index: 999;
  border-radius: 999px;
}
.hamburger .hamburger__line {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--white);
}
.hamburger .hamburger__line::before, .hamburger .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--white);
}
.hamburger .hamburger__line::before {
  top: -8px;
}
.hamburger .hamburger__line::after {
  bottom: -8px;
}

/*閉じる*/
.hamburger._active .hamburger__line {
  background: transparent;
}
.hamburger._active .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger._active .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* PCで非表示 */
@media screen and (min-width: 1025px), print {
  .hamburger {
    display: none;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メニュー

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.globalnav {
  position: sticky;
  top: 0;
  z-index: 998;
  left: 0;
  background-color: #8B0000;
}

.globalnav__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
}
.globalnav__main .globalnav__item {
  position: relative;
}
.globalnav__main .globalnav__item:hover {
  background-color: #444444;
}
.globalnav__main .globalnav__item a {
  display: block;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  overflow-wrap: break-word;
  background: none;
  padding: 20px;
  transition: 0.2s;
}

/*  タブレット、スマホでの表示 */
@media screen and (max-width: 1180px) {
  .globalnav {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s;
  }
  .globalnav__main {
    display: block;
    background: none;
    width: 100%;
    padding: 20px;
  }
  .globalnav__main .globalnav__item:not(:last-child) > a {
    border: none;
  }
  .globalnav__main .globalnav__item a {
    padding: 10px;
    color: #ffffff;
  }
}
/* タブレット,スマホでメニューを開いた時に黒くする */
@media screen and (max-width: 1180px) {
  .container::after {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100vw;
    height: 100dvh;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .container._darker::after {
    visibility: visible;
    opacity: 0.6;
    z-index: 99;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

ページUP

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.pageup {
  position: fixed;
  right: 2vw;
  bottom: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}
.pageup .arrow {
  border-color: var(--white);
  margin-top: 10px;
  transform: rotate(-45deg);
}

@media (hover: hover) {
  .pageup:hover {
    background-color: var(--primary-color);
  }
}
/* スマホ */
@media screen and (max-width: 520px) {
  .pageup {
    width: 50px;
    height: 50px;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

フッター

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
footer {
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
  background-color: var(--primary-color);
  padding: 30px;
}